h2 {
    font-size: 30px;
    font-weight: 300;
    color: #ef4137;
}

.form-group {
    height: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-top: -10px;
}

.control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate3d(0, 22px, 0) scale(1);
    -moz-transform: translate3d(0, 22px, 0) scale(1);
    transform: translate3d(0, 22px, 0) scale(1);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: 240ms;
    -moz-transition: 240ms;
    transition: 240ms;
}

.form-group.focused .control-label {
    opacity: 1;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    color: #ef4137 !important;
}

.form-control {
    align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: 240ms;
    -moz-transition: 240ms;
    transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
    -webkit-transition: none
    -moz-transition: none;
    transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

#textbox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.toplam {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}

.left {
    width: 50%;
    height: 100%;
    background: #2C3034;
    left: 0;
    position: absolute;
}

.right {
    width: 50%;
    height: 100%;
    background: #F9F9F9;
    right: 0;
    position: absolute;
}

#ic {
    width: 310px;
    margin: 0 auto;
    top: 40%;
    margin-top: -162px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

.left #ic {
    margin-top: -232px;
}

#ic p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #757575;
    margin-bottom: 30px;
}

form.girisyap input {
    border-bottom: 1px solid #cdcdcd;
    color: #959595;
    font-size: 14px;
    width: 100%;
    resize: none;
    max-height: 20px;
    outline: 0;
    border-left: 0;
    border-right: 0;
    padding: 8px 0;
    margin-top: 5px !important;
    background: none;
    border-top: 0;
    overflow: hidden;
    transition: border .2s;
    -webkit-transition: border .2s;
}

.girisyap .form-group {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.girisyap h2 {
    font-size: 28px;
    font-weight: 400;
    color: #0BAFBF;
    line-height: 35px;
}

.girisyap .soninpt {
    margin-bottom: 30px;
}

.left form.girisyap input {
    border-bottom: 1px solid #45494C;
}

.left .control-label {
    color: #959595;
}

.left .yarim {
    width: 46% !important;
    float: left;
    margin-right: 8%;
}

.left .sn {
    margin-right: 0;
}

form.girisyap .girisbtn {
    width: auto;
    float: right;
    background: #ef4137;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0 !important;
    line-height: 16px;
    font-family: Roboto;
    text-transform: uppercase;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color,-webkit-box-shadow;
    transition-property: background-color,box-shadow;
    border: 0;
}

form.girisyap .girisbtn:hover {
    background: #0288D1;
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

#moveleft, #moveright {
    width: auto;
    float: right;
    background: none;
    padding: 10px 16px;
    font-family: Roboto;
    font-size: 14px;
    color: #ef4137;
    font-weight: 600;
    margin: 0 10px !important;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    border: 0;
    outline: 0;
}

#moveleft:hover {
    background: #eee;
}

#moveright:hover {
    background: #363A3D;
}

#fback {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999;
}

.girisback {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4 url(../images/bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.kayitback {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4 url(../images/bg1.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.checked {
    color: #959595;
    font-size: 14px;
	width:auto!important;
	margin-top:0px !important;
    resize: none;
    max-height: 20px;
    outline: 0;
    border-left: 0;
    border-right: 0;
    padding: 8px 0;
    background: none;
    border-top: 0;
    overflow: hidden;
    transition: border .2s;
    -webkit-transition: border .2s;
}

/* AddBy Yogesh Shrimali */

.success, .error{
border: 1px solid;
/*margin: 10px 0px;*/
width:50%;
margin-top:470px;
margin-right:40px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
float:right;
text-align:center;
}

.success {
color: #4F8A10;
background-color: #DFF2BF;
}

.error {
color: #D8000C;
background-color: #FFBABA;
}

.ajax-error {
    display: block;
    width: 100%;
    clear: both;
    font-size: 16px;
    color: #ef4137;
    padding-top: 20px;
    font-weight: bold;
}